{% extends 'base.html' %}
{% block body %}
    <div class="container-fluid">
        <div>
            <img src="/static/teachers.png" alt="principal sir" width="100%" height="450px">
        </div>
        <div class="container mt-5 mb-5">
            <h5 style="color: rgb(19, 19, 165);"><u>Our Faculty</u></h5>
            <h2>TEACHING STAFF</h2>
            <p>
                A glimpse of vibrant and dedicated teaching staff drawn from different parts of the country, who are wellversed and wellequipped in their subjects having professional qualifications to match with the requirements of the school. Under the able leadership of the Chairman Shri Sarvanand Singh and the team spirit which is the essence of the school, it is progressing day in and day out towards its goal.
            </p>
        </div>
    </div>

{% endblock body %}