{% extends 'base.html' %}
{% block body %} 
    <div class="container-fluid">
        <div>
            <img src="/static/principal.png" alt="principal sir" width="100%" height="450px">
        </div>
        <div class="container mt-5 mb-5">
            <h5 style="color: rgb(19, 19, 165);"><u>Principal Message</u></h5>
            <h2>MR. RAJESH ARORA</h2>
            <p>
                <strong style="font-size: 14px;">
                    “Teaching is leaving a vestige of oneself in the development of another and surely the student is a bank where you can deposit your most precious treasures.”
                </strong>
            </p>
            <p>
                Our aim is to work with a mission and purpose to achieve an ever expanding vision, to test our limits and to strive to achieve a higher goal. 
                I have the firm conviction that even if the road ahead poses obstacles, the synergy of the team will see us through. 
                It is the relentless pursuit of Sunshine Public School, to achieve the goal of providing complete education in order to prepare 
                the student to face life challenges by equipping them with the sword of knowledge and arm our of values helping them to tap their innate 
                talents to the maximum in a well-planned meticulously executed method.
            </p>
            <p>
                We equip our children to face the contemporary competitive world with grit velour, thus meeting boldly the needs and aspirations of the ever changing and demanding times.
            </p>
            <p>
                We provide opportunities to promote social, emotional, mental, and physical growth. We strive to develop each child potential, recognize his or her ability, and encourage positive self-esteem in order to develop them into responsible citizen of tomorrow India. 
                We have always believed in exploring the unknown, charting newer terrains and going for the best each time.
            </p>
            <p>
                <strong>
                    “We have a vision to excel, a drive to go only for the, Best and to work in a challenging environment.”
                </strong>
            </p>
        </div>
    </div>


{% endblock body %}